################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/SDL2
/SDL2_image
/FirstSDLWindow/Zone de test
/FirstSDLWindow/.vs/FirstSDLWindow/v15
